{{- if and .CustomType .CustomType.ValueType}}
{{snakeCaseToCamelCase .Name}} {{ .CustomType.ValueType }} `tfsdk:"{{.Name}}"`
{{- else}}
{{snakeCaseToCamelCase .Name}} types.Bool `tfsdk:"{{.Name}}"`
{{- end}}