{{- if and .CustomType .CustomType.ValueType}}
{{snakeCaseToCamelCase .Name}} {{ .CustomType.ValueType }} `tfsdk:"{{.Name}}"`
{{- else}}
{{snakeCaseToCamelCase .Name}} {{.DefaultType}} `tfsdk:"{{.Name}}"`
{{- end}}