{{define "common_attribute"}}

{{- if .Required}}
Required: {{.Required}},
{{- end}}

{{- if .Optional}}
Optional: {{.Optional}},
{{- end}}

{{- if .Sensitive }}
Sensitive: {{.Sensitive}},
{{- end}}

{{- if .Description }}
Description: {{ .Description | quote }},
MarkdownDescription: {{.Description | quote }},
{{- end}}

{{- if .DeprecationMessage }}
DeprecationMessage: {{ .DeprecationMessage | quote }},{{- end}}
{{- end}}