{{define "common_block"}}

{{- if .CustomType}}
CustomType: {{.CustomType.Type}},
{{- end}}

{{- if .Description }}
Description: {{ .Description | quote }},
MarkdownDescription: {{ .Description | quote }},
{{- end}}

{{- if .DeprecationMessage }}
DeprecationMessage: {{ .DeprecationMessage | quote }},{{- end}}
{{- end}}