
"{{.Name}}": schema.Float64Attribute{
{{- template "common_attribute" .GeneratorFloat64Attribute }}
{{- if gt (len .GeneratorFloat64Attribute.Validators) 0 }}
Validators: []validator.Float64{
{{- range .GeneratorFloat64Attribute.Validators}}
{{- if .Custom}}
{{.Custom.SchemaDefinition}},
{{- end}}
{{- end}}
},
{{- end }}
},