{{ range $key, $value := . }}
"{{$key}}": schema.Int64Attribute{
{{- template "common_attribute" $value }}
{{- if $value.Validators }}
Validators: []validator.Int64{
{{- range $validator := .Validators}}
{{- if .Custom}}
{{.Custom.SchemaDefinition}},
{{- end}}
{{- end}}
},
{{- end }}
},
{{- end }}