{{ range $key, $value := . }}
"{{$key}}": schema.ListNestedAttribute{
NestedObject: schema.NestedAttributeObject{
Attributes: map[string]schema.Attribute{
{{- getAttributes $value.NestedObject.Attributes}}
},
},
{{- template "common_attribute" $value }}
{{- if $value.Validators }}
Validators: []validator.List{
{{- range $validator := .Validators}}
{{.Custom.SchemaDefinition}},
{{- end}}
},
{{- end}}
},
{{- end }}