{{ range $key, $value := . }}
"{{$key}}": schema.ListAttribute{
ElementType: {{ getElementType .ElementType}},
{{- template "common_attribute" $value }}
{{- if $value.Validators }}
Validators: []validator.List{
{{- range $validator := .Validators}}
{{- if .Custom}}
{{.Custom.SchemaDefinition}},
{{- end}}
{{- end}}
},
{{- end}}
},
{{- end }}