
"{{.Name}}": schema.StringAttribute{
{{- template "common_attribute" .GeneratorStringAttribute }}
{{- if gt (len .GeneratorStringAttribute.Validators) 0 }}
Validators: []validator.String{
{{- range .GeneratorStringAttribute.Validators}}
{{- if .Custom}}
{{.Custom.SchemaDefinition}},
{{- end}}
{{- end}}
},
{{- end }}
},