{{ range $key, $value := . }}
"{{$key}}": schema.Int64Attribute{
{{- template "common_attribute" $value }}
{{- if gt (len $value.Validators) 0 }}
Validators: []validator.Int64{
{{- range $validator := .Validators}}
{{.Custom.SchemaDefinition}},
{{- end}}
},
{{- end }}
},
{{- end }}