
func (m {{.Name}}Model) objectType() types.ObjectType {
return types.ObjectType{AttrTypes: m.objectAttributeTypes()}
}

func (m {{.Name}}Model) objectAttributeTypes() map[string]attr.Type {
return map[string]attr.Type{
{{- range $key, $value := .AttrTypes }}
"{{$key}}": {{$value}},
{{- end}}
}
}