
func (m {{.Name}}Model) ObjectType() types.ObjectType {
return types.ObjectType{AttrTypes: m.ObjectAttributeTypes()}
}

func (m {{.Name}}Model) ObjectAttributeTypes() map[string]attr.Type {
return map[string]attr.Type{
{{- range $key, $value := .AttrTypes }}
"{{$key}}": {{$value}},
{{- end}}
}
}