
func (m {{.Name}}Model) ObjectType(ctx context.Context) types.ObjectType {
return types.ObjectType{AttrTypes: m.ObjectAttributeTypes(ctx)}
}

func (m {{.Name}}Model) ObjectAttributeTypes(ctx context.Context) map[string]attr.Type {
return map[string]attr.Type{
{{- range $key, $value := .AttrTypes }}
"{{$key}}": {{$value}},
{{- end}}
}
}