
"{{.Name}}": schema.NumberAttribute{
{{- template "common_attribute" .GeneratorNumberAttribute }}
{{- if gt (len .GeneratorNumberAttribute.Validators) 0 }}
Validators: []validator.Number{
{{- range .GeneratorNumberAttribute.Validators}}
{{- if .Custom}}
{{.Custom.SchemaDefinition}},
{{- end}}
{{- end}}
},
{{- end }}
},