{{ range $key, $value := . }}
"{{$key}}": schema.ObjectAttribute{
AttributeTypes: map[string]attr.Type{
{{ getAttrTypes .AttributeTypes}}
},
{{- template "common_attribute" $value }}
{{- if $value.Validators }}
Validators: []validator.Bool{
{{- range $validator := .Validators}}
{{.Custom.SchemaDefinition}},
{{- end}}
},
{{- end}}
},
{{- end }}