{{ range $key, $value := . }}
"{{$key}}": schema.SetAttribute{
ElementType: {{ getElementType .ElementType}},
{{- template "common_attribute" $value }}
{{- if gt (len $value.Validators) 0 }}
Validators: []validator.Set{
{{- range $validator := .Validators}}
{{.Custom.SchemaDefinition}},
{{- end}}
},
{{- end}}
},
{{- end }}