{{ range $key, $value := . }}
"{{$key}}": schema.SingleNestedAttribute{
Attributes: map[string]schema.Attribute{
{{- AttributesString}}
},
{{- template "common_attribute" $value }}
{{- if gt (len $value.Validators) 0 }}
Validators: []validator.Bool{
{{- range $validator := .Validators}}
{{- if .Custom}}
{{.Custom.SchemaDefinition}},
{{- end}}
{{- end}}
},
{{- end}}
},
{{- end }}