{{ range $key, $value := . }}
"{{$key}}": schema.StringAttribute{
{{- template "common_attribute" $value }}
{{- if gt (len $value.Validators) 0 }}
Validators: []validator.String{
{{- range $validator := .Validators}}
{{.Custom.SchemaDefinition}},
{{- end}}
},
{{- end }}
},
{{- end }}