
"{{.Name}}": schema.MapAttribute{
{{- if .CustomType}}
CustomType: {{.CustomType}},
{{- else}}
ElementType: {{.ElementType}},
{{- end}}
{{- template "common_attribute" .GeneratorMapAttribute }}
{{- if gt (len .GeneratorMapAttribute.Validators) 0 }}
Validators: []validator.Map{
{{- range .GeneratorMapAttribute.Validators}}
{{- if .Custom}}
{{.Custom.SchemaDefinition}},
{{- end}}
{{- end}}
},
{{- end}}
},