
"{{.Name}}": schema.SetAttribute{
{{- if .CustomType}}
CustomType: {{.CustomType}},
{{- else}}
ElementType: {{.ElementType}},
{{- end}}{{- template "common_attribute" .GeneratorSetAttribute }}
{{- if gt (len .GeneratorSetAttribute.Validators) 0 }}
Validators: []validator.Set{
{{- range .GeneratorSetAttribute.Validators}}
{{- if .Custom}}
{{.Custom.SchemaDefinition}},
{{- end}}
{{- end}}
},
{{- end}}
},