
func (v {{.Name}}Value) From{{.AssocExtType.ToPascalCase}}(ctx context.Context, apiObject {{.AssocExtType.Type}}) ({{.Name}}Value, diag.Diagnostics) {
var diags diag.Diagnostics

if apiObject == nil {
return {{.Name}}Value{
types.Int64Null(),
}, diags
}

return {{.Name}}Value{
types.Int64PointerValue(*apiObject),
}, diags
}
