{{define "bool_attribute"}}
{{- if .Bool.CustomType}}
{{snakeCaseToCamelCase .Name}} {{ .Bool.CustomType.ValueType }} `tfsdk:"{{.Name}}"`
{{- else}}
{{snakeCaseToCamelCase .Name}} types.Bool `tfsdk:"{{.Name}}"`
{{- end}}
{{- end}}