func To{{.Name}}(ctx context.Context, tfType {{.TfType}}) ({{.Type}}, diag.Diagnostics) {
var diags diag.Diagnostics

if tfType.IsNull() || tfType.IsUnknown() {
return nil, diags
}

var t {{.TypeReference}}

t = tfType.{{.DefaultTo}}()

return &t, diags
}

func From{{.Name}}(ctx context.Context, apiObject {{.Type}}) ({{.TfType}}, diag.Diagnostics) {
var diags diag.Diagnostics

if apiObject == nil {
return {{.TfType}}Null(), diags
}

t := types.{{.DefaultFrom}}(*apiObject)

return t, diags
}