{
  "openapi": "3.0.1",
  "info": {
    "title": "api",
    "description": "<br/>https://apigateway.apigw.ntruss.com/api/v1",
    "version": "2023-11-23T12:50:30Z"
  },
  "servers": [
    {
      "url": "https://apigateway.apigw.ntruss.com/api/v1"
    }
  ],
  "paths": {
    "/": {},
    "/api-keys": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "apiKeyName",
            "in": "query",
            "description": "Api Key Name<br>Length(Min/Max): 0/20",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiKeysResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/api-keys",
            "stream": false
          }
        }
      },
      "post": {
        "tags": ["v1"],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PostApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/api-keys",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/api-keys/search": {
      "post": {
        "tags": ["v1"],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/SearchApiKeysWithProductRelationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SearchApiKeysWithProductRelationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/api-keys/search",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/api-keys/{api-key-id}": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/api-keys/{api-key-id}",
            "stream": false
          }
        }
      },
      "put": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PutApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "PUT",
            "url": "/apigw/v1/api-keys/{api-key-id}",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      },
      "delete": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "DELETE",
            "url": "/apigw/v1/api-keys/{api-key-id}",
            "stream": false
          }
        }
      },
      "patch": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PatchApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "PATCH",
            "url": "/apigw/v1/api-keys/{api-key-id}",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/api-keys/{api-key-id}/products": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiKeyRelateProductResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/api-keys/{api-key-id}/products",
            "stream": false
          }
        }
      }
    },
    "/api-keys/{api-key-id}/subscribe": {
      "post": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PostSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/api-keys/{api-key-id}/subscribe",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/api-keys/{api-key-id}/subscription-detail": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiId",
            "in": "query",
            "description": "Api Id<br>Length(Min/Max): 0/10",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Product Id<br>Length(Min/Max): 0/10",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "stageId",
            "in": "query",
            "description": "Stage Id<br>Length(Min/Max): 0/10",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SearchApiKeyRelationsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/api-keys/{api-key-id}/subscription-detail",
            "stream": false
          }
        }
      }
    },
    "/api-keys/{api-key-id}/unsubscribe": {
      "post": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PostUnSubscribeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/api-keys/{api-key-id}/unsubscribe",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/authorizers": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name<br>Length(Min/Max): 0/20",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthorizersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/authorizers",
            "stream": false
          }
        }
      },
      "post": {
        "tags": ["v1"],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizerDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/authorizers",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/authorizers/{authorizer-id}": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "authorizer-id",
            "in": "path",
            "description": "authorizer-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizerDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/authorizers/{authorizer-id}",
            "stream": false
          }
        }
      },
      "put": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "authorizer-id",
            "in": "path",
            "description": "authorizer-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "PUT",
            "url": "/apigw/v1/authorizers/{authorizer-id}",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      },
      "delete": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "authorizer-id",
            "in": "path",
            "description": "authorizer-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "DELETE",
            "url": "/apigw/v1/authorizers/{authorizer-id}",
            "stream": false
          }
        }
      }
    },
    "/authorizers/{authorizer-id}/test": {
      "post": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "authorizer-id",
            "in": "path",
            "description": "authorizer-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/TestAuthorizerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizerTestResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/authorizers/{authorizer-id}/test",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/dashboards": {},
    "/dashboards/api-keys": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "From<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Regions<br>collection item cannot be null",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time Zone<br>Pattern: +09:00",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "to",
            "in": "query",
            "description": "To<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiKeyIdsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/dashboards/api-keys",
            "stream": false
          }
        }
      }
    },
    "/dashboards/api-keys/{api-key-id}": {},
    "/dashboards/api-keys/{api-key-id}/product-ids": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Regions<br>collection item cannot be null",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time Zone<br>Pattern: +09:00",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "to",
            "in": "query",
            "description": "To<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductIdsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/dashboards/api-keys/{api-key-id}/product-ids",
            "stream": false
          }
        }
      }
    },
    "/dashboards/api-keys/{api-key-id}/products": {},
    "/dashboards/api-keys/{api-key-id}/products/{product-id}": {},
    "/dashboards/api-keys/{api-key-id}/products/{product-id}/api-ids": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Regions<br>collection item cannot be null",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time Zone<br>Pattern: +09:00",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "to",
            "in": "query",
            "description": "To<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiIdsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/dashboards/api-keys/{api-key-id}/products/{product-id}/api-ids",
            "stream": false
          }
        }
      }
    },
    "/dashboards/api-keys/{api-key-id}/products/{product-id}/apis": {},
    "/dashboards/api-keys/{api-key-id}/products/{product-id}/apis/{api-id}": {},
    "/dashboards/api-keys/{api-key-id}/products/{product-id}/apis/{api-id}/stages": {},
    "/dashboards/api-keys/{api-key-id}/products/{product-id}/apis/{api-id}/stages/{stage-id}": {},
    "/dashboards/api-keys/{api-key-id}/products/{product-id}/apis/{api-id}/stages/{stage-id}/export": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-id",
            "in": "path",
            "description": "api-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage-id",
            "in": "path",
            "description": "stage-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Regions<br>collection item cannot be null",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time Zone<br>Pattern: +09:00",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "to",
            "in": "query",
            "description": "To<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/dashboards/api-keys/{api-key-id}/products/{product-id}/apis/{api-id}/stages/{stage-id}/export",
            "stream": false
          }
        }
      }
    },
    "/dashboards/api-keys/{api-key-id}/products/{product-id}/charts": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiId",
            "in": "query",
            "description": "Api Id",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "from",
            "in": "query",
            "description": "From<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Regions<br>collection item cannot be null",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time Zone<br>Pattern: +09:00",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "to",
            "in": "query",
            "description": "To<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiStagesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/dashboards/api-keys/{api-key-id}/products/{product-id}/charts",
            "stream": false
          }
        }
      }
    },
    "/dashboards/events": {},
    "/dashboards/events/search": {
      "post": {
        "tags": ["v1"],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/EventHistoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/dashboards/events/search",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/dashboards/products": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "From<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Regions<br>collection item cannot be null",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time Zone<br>Pattern: +09:00",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "to",
            "in": "query",
            "description": "To<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductIdsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/dashboards/products",
            "stream": false
          }
        }
      }
    },
    "/dashboards/products/{product-id}": {},
    "/dashboards/products/{product-id}/api-ids": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiId",
            "in": "query",
            "description": "Api Id",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "from",
            "in": "query",
            "description": "From<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Regions<br>collection item cannot be null",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time Zone<br>Pattern: +09:00",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "to",
            "in": "query",
            "description": "To<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiIdsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/dashboards/products/{product-id}/api-ids",
            "stream": false
          }
        }
      }
    },
    "/dashboards/products/{product-id}/apis": {},
    "/dashboards/products/{product-id}/apis/{api-id}": {},
    "/dashboards/products/{product-id}/apis/{api-id}/stages": {},
    "/dashboards/products/{product-id}/apis/{api-id}/stages/{stage-id}": {},
    "/dashboards/products/{product-id}/apis/{api-id}/stages/{stage-id}/export": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-id",
            "in": "path",
            "description": "api-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage-id",
            "in": "path",
            "description": "stage-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Regions<br>collection item cannot be null",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time Zone<br>Pattern: +09:00",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "to",
            "in": "query",
            "description": "To<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/dashboards/products/{product-id}/apis/{api-id}/stages/{stage-id}/export",
            "stream": false
          }
        }
      }
    },
    "/dashboards/products/{product-id}/charts": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiId",
            "in": "query",
            "description": "Api Id",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "from",
            "in": "query",
            "description": "From<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Regions<br>collection item cannot be null",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time Zone<br>Pattern: +09:00",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "to",
            "in": "query",
            "description": "To<br>Pattern: yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiStagesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/dashboards/products/{product-id}/charts",
            "stream": false
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "hasDeployedStage",
            "in": "query",
            "description": "Has Deployed Stage",
            "schema": {
              "type": "boolean",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "hasStageNotAssociatedWithUsagePlanId",
            "in": "query",
            "description": "Has Stage Not Associated With Usage Plan Id",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "isPublished",
            "in": "query",
            "description": "Is Published",
            "schema": {
              "type": "boolean",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "productName",
            "in": "query",
            "description": "Product Name<br>Length(Min/Max): 0/100",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "subscriptionCode",
            "in": "query",
            "description": "Subscription Code<br>Allowable values: PROTECTED, PUBLIC",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/products",
            "stream": false
          }
        }
      },
      "post": {
        "tags": ["v1"],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PostProductRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/PostProductResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/products",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/PostProductResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/products/{product-id}",
            "stream": false
          }
        }
      },
      "delete": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "DELETE",
            "url": "/apigw/v1/products/{product-id}",
            "stream": false
          }
        }
      },
      "patch": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PatchProductRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "PATCH",
            "url": "/apigw/v1/products/{product-id}",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}/api-keys": {},
    "/products/{product-id}/api-keys/search": {
      "post": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/SearchApiKeysRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SearchApiKeysResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/products/{product-id}/api-keys/search",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}/api-keys/{api-key-id}": {
      "patch": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PatchSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "PATCH",
            "url": "/apigw/v1/products/{product-id}/api-keys/{api-key-id}",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}/api-keys/{api-key-id}/stages": {},
    "/products/{product-id}/api-keys/{api-key-id}/stages/{stage-id}": {
      "put": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key-id",
            "in": "path",
            "description": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage-id",
            "in": "path",
            "description": "stage-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PutApiKeyRelationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "PUT",
            "url": "/apigw/v1/products/{product-id}/api-keys/{api-key-id}/stages/{stage-id}",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}/apis": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiName",
            "in": "query",
            "description": "Api Name<br>Length(Min/Max): 0/20",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "hasStage",
            "in": "query",
            "description": "Has Stage",
            "schema": {
              "type": "boolean",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "hasStageNotAssociatedWithUsagePlanId",
            "in": "query",
            "description": "Has Stage Not Associated With Usage Plan Id",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "withStage",
            "in": "query",
            "description": "With Stage",
            "schema": {
              "type": "boolean",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/products/{product-id}/apis",
            "stream": false
          }
        }
      },
      "post": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PostApiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/products/{product-id}/apis",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}/apis/clone": {
      "post": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PostCloneApiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/products/{product-id}/apis/clone",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}/apis/filter": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/products/{product-id}/apis/filter",
            "stream": false
          }
        }
      }
    },
    "/products/{product-id}/apis/import": {
      "post": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PostImportApiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ImportApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "POST",
            "url": "/apigw/v1/products/{product-id}/apis/import",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}/apis/infos": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiName",
            "in": "query",
            "description": "Api Name<br>Length(Min/Max): 0/20",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "hasStage",
            "in": "query",
            "description": "Has Stage",
            "schema": {
              "type": "boolean",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "hasStageNotAssociatedWithUsagePlanId",
            "in": "query",
            "description": "Has Stage Not Associated With Usage Plan Id",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "withStage",
            "in": "query",
            "description": "With Stage",
            "schema": {
              "type": "boolean",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/products/{product-id}/apis/infos",
            "stream": false
          }
        }
      }
    },
    "/products/{product-id}/apis/{api-id}": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-id",
            "in": "path",
            "description": "api-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/products/{product-id}/apis/{api-id}",
            "stream": false
          }
        }
      },
      "delete": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-id",
            "in": "path",
            "description": "api-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "DELETE",
            "url": "/apigw/v1/products/{product-id}/apis/{api-id}",
            "stream": false
          }
        }
      },
      "patch": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-id",
            "in": "path",
            "description": "api-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PatchApiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "PATCH",
            "url": "/apigw/v1/products/{product-id}/apis/{api-id}",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}/apis/{api-id}/deploy": {
      "post": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-id",
            "in": "path",
            "description": "api-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PostDeployApiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "stream": true,
            "method": "POST",
            "url": "/apigw/v1/products/{product-id}/apis/{api-id}/deploy"
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}/apis/{api-id}/documents": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-id",
            "in": "path",
            "description": "api-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/products/{product-id}/apis/{api-id}/documents",
            "stream": false
          }
        }
      },
      "patch": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-id",
            "in": "path",
            "description": "api-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PostDocumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "PATCH",
            "url": "/apigw/v1/products/{product-id}/apis/{api-id}/documents",
            "stream": false
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/products/{product-id}/apis/{api-id}/models": {
      "get": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
            "description": "product-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-id",
            "in": "path",
            "description": "api-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit<br>Min: 1<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "modelName",
            "in": "query",
            "description": "Model Name<br>Length(Min/Max): 0/100",
            "schema": {
              "type": "string",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset<br>Min: 0<br>Max: 9,223,372,036,854,775,807",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-ncp-parameter-is-logged": false
            },
            "x-ncp-parameter-is-logged": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GetModelsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-ncp-iam": []
          }
        ],
        "x-ncp-apigw-use-body-when-formdata": false,
        "x-ncp-apigateway-filters": {
          "valid": {
            "type": "NONE"
          },
          "apiKey": {
            "required": false
          },
          "auth": {
            "platform": "IAM"
          }
        },
        "x-ncp-apigateway-endpoint": {
          "HTTP": {
            "method": "GET",
            "url": "/apigw/v1/products/{product-id}/apis/{api-id}/models",
            "stream": false
          }
        }
      },
      "post": {
        "tags": ["v1"],
        "parameters": [
          {
            "name": "product-id",
            "in": "path",
[...]
