
"{{.Name}}": schema.ListAttribute{
{{- if .CustomType}}
CustomType: {{.CustomType}},
{{- else}}
ElementType: {{.ElementType}},
{{- end}}
{{- template "common_attribute" .GeneratorListAttribute }}
{{- if gt (len .GeneratorListAttribute.Validators) 0 }}
Validators: []validator.List{
{{- range .GeneratorListAttribute.Validators}}
{{- if .Custom}}
{{.Custom.SchemaDefinition}},
{{- end}}
{{- end}}
},
{{- end}}
},