package provider

import (
	"context"
	"terraform-provider-petstore/internal/provider/{{.Package}}"

	"github.com/hashicorp/terraform-plugin-framework/datasource"
)

{{ template "_builtin/datasource_scaffold" . }}
