package provider

import (
	"context"
	"terraform-provider-petstore/internal/provider/{{.Package}}"

	"github.com/hashicorp/terraform-plugin-framework/datasource"
	"github.com/hashicorp/terraform-plugin-framework/provider"
	"github.com/hashicorp/terraform-plugin-framework/resource"
)

{{ template "_builtin/provider_scaffold" . }}
