package provider

import (
	"context"
	"terraform-provider-petstore/internal/provider/{{.Package}}"

	"github.com/hashicorp/terraform-plugin-framework/resource"
)

{{ template "_builtin/resource_scaffold" . }}
